*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(92, 10, 117, 0.336);
}

/*SEÇÃO TOPO */

.secao-topo{
    width: 100%;
    background-color: #fff;
}

header img{
    width: 150px;
    height: 80px;
}

.secao-limitada{
    max-width: 1024px;
    padding: 10px 0;
    margin: 0 auto;
}

.container-topo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
}

.container-topo a{
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

/* SEÇÃO BANNER */

.secao-banner{
    background-image: url('/img/banner.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    justify-content: center;
    height: calc(100vh - 150px);
    display: relative;
}

.secao-texto-btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-top: 230px;
}

.secao-banner h1{
    text-transform: uppercase;
    font-size: 100px;
    justify-content: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, white, rgb(92, 10, 117) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.btn-acoes{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.btn-agendamento a, .btn-agendar a{
    background-color: rgb(92, 10, 117);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-agendamento a:hover, .btn-agendar a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.btn-servicos a{
    background-color: rgb(92, 10, 117);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-servicos a:hover{
    background-color: white;
    color: black;

}

.secao-end-tel-atend{
    max-width: 1024px;
    background-color: #fff;
    margin: 50px auto;
}

.container-end-tel-atend{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 30px;
    margin: 100px 0;
}

.secao-end-tel-atend img{
    width: 50px;
    padding-bottom: 10px;
}


.container-end, .container-tel, .container-atend{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-end h3, .container-tel h3, .container-atend h3{
    font-size: 22px;
}

.container-end p, .container-tel p, .container-atend p{
    font-weight: bold;
}


.borda-separar{
    background-image: linear-gradient(to right, pink, rgb(92, 10, 117) );
    background-color: blueviolet;
    width: 80px;
    height: 7px;
    margin: 10px 0 15px;
}


/* SEÇÃO  */

.container-info{
    max-width: 1024px;
    height: 100%;
    margin: 150px auto 100px;
    display: flex;
    justify-content: space-around;
}

.secao-info h3{
    max-width: 450px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.secao-info p{
    max-width: 450px;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.container-experiencia{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.secao-satisf{
    padding-right: 100px;
}

.secao-satisf span, .secao-exp span{
    font-size: 50px;
    background-image: linear-gradient(to right, pink, rgb(92, 10, 117) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

.secao-satisf h4, .secao-exp h4{
    color: white;
    font-size: 50px;
}

.secao-satisf p, .secao-exp p{
    max-width: 150px;
    font-size: 18px;
    font-weight: bold;
}

.foto-atend img{
    max-width: 500px;
    height: 500px;
    width: 500px;
}


/* SECAO SERVICOS */

.titulo-produtos, .titulo-pacotes, .titulo-equipe, .titulo-espaco h3{
    text-align: center;
    color: white;
}

.titulo-produtos h3, .titulo-pacotes h3, .titulo-equipe h3, .nossa-equipe h3, .titulo-espaco h3, .secao-depoimentos h3{
    font-size: 36px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.titulo-produtos p, .titulo-pacotes p, .titulo-equipe p, .nossa-equipe p{
    font-size: 14px;
}

.nossos-produtos, .nossos-pacotes, .nossa-equipe, .clima-estetica{
    max-width: 1024px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 50px;
}

.container-servicos{
    display: flex;
    gap: 30px;
    padding: 30px 20px;
}

.container-servicos h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.container-servicos p{
    font-size: 14px;
    max-width: 300px;
    line-height: 20px;
}

.container-servicos h4{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 800;
}

.nossos-produtos img{
    width: 60px;
}

.btn-agendar{
    max-width: 1024px;
    margin: 110px auto;
    text-align: center;
}

/* SECAO ESPAÇO */

.titulo-espaco h3{
    margin-top: 50px;
}

.container-imagens{
    max-width: 1024px;
    margin: 0 auto;

}

.container-imagens img{
    width: 330px;
    padding: 0 1px;
    height: 300px;
}

.banner2{
    margin: 50px 0 0;
    background-image:  url('/img/banner2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    height: 400px;
}

.banner2 h3{
    font-size: 40px;
    padding: 70px 0 40px; 
    text-align: center;
    text-shadow: 1px 1px  3px black;
    color: white;
}

.btn-agendar-banner2{
    margin: 10px auto;
    text-align: center;
}

.btn-agendar-banner2 a{
    background-color: rgb(92, 10, 117);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-agendar-banner2 a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

/* SEÇÃO DEPOIMENTOS */

.container-depoimentos{
    background-color: #fff;
}

.depoimentos-clientes{
    display: flex;
    gap: 20px;
    width: 1024px;
    white-space: no-wrap;
    overflow: auto;
    margin-bottom: 50px;
}

.depoimentos{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.secao-depoimentos h3{
    margin-top: 30px;
    font-weight: 800;
    text-align: center;
}

.secao-depoimentos p{
    width: 420px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 16px;
}

.depoimentos p{
    width: 250px;
    padding-bottom: 15px;
    text-align: center;
}

.depoimentos-clientes .img-redonda{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.depoimentos-clientes img:last-of-type{
    width: 100px;
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(92, 10, 117, 0.336);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(92, 10, 117, 0.336);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(92, 10, 117, 0.336);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(92, 10, 117, 0.336);
}

*::-webkit-scrollbar-thumb:hover {
  background-color:  rgba(92, 10, 117);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgba(92, 10, 117);
}

/* SEÇÃO BANNER 3 */

.banner3{
    background-image: url('/img/banner3.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.banner3 h3{
    margin: 50px 0 20px;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px  3px black;
    text-transform: uppercase;
}


.banner3 p{
    color: white;
    text-shadow: 1px 1px  3px black;
    font-size: 18px;
    line-height: 25px;
}


.secao-seu-agendamento{
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

.secao-seu-agendamento h3{
    font-size: 22px;
    margin-bottom: 5px;
    text-shadow: 1px 1px  3px black;

}

.secao-seu-agendamento p{
    font-size: 14px;
    max-width: 300px;
    line-height: 20px;
    text-shadow: 1px 1px  3px black;
}

.secao-seu-agendamento img{
    width: 70px;
    margin: 40px 0;
    padding: 15px;
    background-color: white;

}


/* SEÇÃO MAPA */

.container-local{
    margin: 30px auto;
    max-width: 1024px;
}

.mapa h3{
    margin: 50px auto 0;
    text-align: center;
    color: white;
    font-size: 36px;

}

iframe{
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}


/* SEÇÃO FINAL - FOOTER */ 

.direitos-autorais{
    background-color: rgb(92, 10, 117);
    padding: 5px;
}


.direitos-autorais p{
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
}

/* SEÇÃO RESPONSIVA */


@media (max-width:428px){
    
.secao-topo{
    width: 100%;
    background-color: #fff;
}

header img{
    max-width: 200px;
    height: 70px;
}

.container-topo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.container-topo a{
    max-width: 428px;
    margin: 0 5px;
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    flex-direction: row;
}



/* SEÇÃO BANNER  */ 


.secao-banner{
    background-image: url('/img/banner.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
}

.secao-banner h1{
    text-transform: uppercase;
    font-size: 50px;
    justify-content: center;
    margin: 50px 0;
    background-image: linear-gradient(to right, white, rgb(92, 10, 117) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.secao-texto-btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 0 60px;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
}


.btn-acoes{
    display: flex;
    flex-wrap: wrap; 
    gap: 70px;
    max-width: 450px;
    margin: 0 5px;
    text-align: center;
}

.btn-agendamento a, .btn-agendar a{
    background-color: rgb(92, 10, 117);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-agendamento a:hover, .btn-agendar a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.btn-servicos a{
    background-color: rgb(92, 10, 117);
    color: white;
    padding: 20px;
    width: 50px;
    margin: 0 25px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-servicos a:hover{
    background-color: white;
    color: black;

}

.secao-end-tel-atend{
    max-width: 1024px;
    background-color: #fff;
}

.container-end-tel-atend{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px;
}

.secao-end-tel-atend img{
    width: 50px;
    padding-bottom: 10px;
}


.container-end, .container-tel, .container-atend{
    max-width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-end h3, .container-tel h3, .container-atend h3{
    font-size: 22px;
}

.container-end p, .container-tel p, .container-atend p{
    font-weight: bold;
}


.borda-separar{
    background-image: linear-gradient(to right, pink, rgb(92, 10, 117) );
    background-color: blueviolet;
    width: 80px;
    height: 7px;
    margin: 10px 0 15px;
}


/* SECAO INFO */

.container-info{
    max-width: 428px;
    height: 100%;
    margin: 100px auto 30px;
    display: inline-block;
}

.secao-info h3{
    max-width: 428px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 270px 10px 30px;
}

.secao-info p{
    max-width: 350px;
    text-align: center;
    margin: 0 px;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.container-experiencia{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.secao-satisf{
    padding-right: 10px;
}

.secao-satisf span, .secao-exp span{
    font-size: 50px;
    background-image: linear-gradient(to right, pink, rgb(92, 10, 117) );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

.secao-satisf h4, .secao-exp h4{
    color: white;
    font-size: 50px;
    text-align: center;
}

.secao-satisf p, .secao-exp p{
    max-width: 150px;
    font-size: 18px;
    font-weight: bold;
}

.foto-atend img{
    display: none;
}


/* SEÇÃO PRODUTOS */

.nossos-produtos, .nossos-pacotes, .nossa-equipe, .clima-estetica{
    max-width: 1024px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 50px;
}


/* SECAO ESPAÇO */


.container-imagens{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

}

.container-imagens img{
    width: 330px;
    height: 300px;
}

/* SEÇÃO DEPOIMENTOS */

.secao-depoimentos p{
    max-width: 350px;
}


.depoimentos-clientes{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
}

@media (max-width:1360px){
    .secao-end-tel-atend{
    max-width: 1024px;
    background-color: #fff;
    margin: 160px auto;
}